.services {
  padding-top: 100px;
  position: relative;
}

.services .container {
  padding: 70px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 40px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

}

.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  flex-basis: 49%;
}

.services .box::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 3px;
  left: 50%;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transition: 0.3s;
}

.services .box:hover {
  transform: translateY(-10px);
}

.services .box:hover::before {
  width: 100%;
}

.services .box>.icon {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #d5d5d5;
}

.services .box>h3 {
  text-align: center;
  font-size: 22px;
  margin: 20px 0 40px;
  color: var(--main-color);
}

.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;

}

.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: -10px;
  bottom: -1px;
  top: 0;
  height: 102%;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  transform: skew(-15deg);
}

.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skew(-30deg);
}

.services .box .info a {
  color: var(--main-color);
  font-weight: 500;
  font-size: 18px;
}

.services .last {
  margin: 0 auto;
}

@media(max-width: 1200px) {
  .services .container {
    /* padding: 70px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px; */
    padding: 70px 20px;
  }
  .services .box{
    flex-basis: 48%;
  }
}

@media(max-width: 992px) {
  .services .box{
    flex-basis: 100%;
  }
}

