.topbar {
  width: 100%;
  background-color: transparent;
  z-index: 10;
  position: relative;
}

.topbar::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #CCC;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;

}

.topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.topbar .logo img {
  width: 230px;
  max-height: 60px;
  object-fit: cover;
}

.topbar .links #ul {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  padding-top: 30px;
}

.topbar .links ul li a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  padding: 10px 3px;
  cursor: pointer;
}

.topbar .links a.active::after,
.topbar .links a.active::before {
  width: 100%;
  opacity: 1;
}

.topbar .links a::after,
.topbar .links a::before {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: 0.3s;
  border-radius: 50%;
  opacity: 0;
}

.topbar .links a::after {
  top: 0;
  left: 0;
}

.topbar .links a::before {
  bottom: 0;
  right: 0;
}

.topbar .links a:hover::after,
.topbar .links a:hover::before {
  width: 100%;
  opacity: 1;
}

.topbar .drop {
  position: relative;
}

.topbar .drop .box {
  top: 35px;
  left: -60px;
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  width: 240px;
  border-radius: 10px;
  border-bottom: 5px solid var(--main-color);
  z-index: 10000;
}

.topbar .drop .box ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.topbar .drop .box ul li {
  padding: 15px 0;
}

.topbar .drop .box ul li:not(:last-of-type) {
  border-bottom: 1px solid #CCC;
}

.topbar .drop .box ul li a {
  color: #444;
  font-size: 14px;

}

.topbar .drop .box.active {
  display: block;
  z-index: 100;
}

.topbar .barIcon {
  display: none;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .topbar .barIcon {
    display: block;
  }

  .topbar .links #ul {
    display: none;
    z-index: 5;
  }

  .topbar .links #ul.open {
    display: flex;
    gap: 10px;
    width: 250px;
    text-align: center;
  }

  .topbar .links #ul.open li {
    padding: 5px;
    border-bottom: 1px solid #CCC;
  }

  .topbar .links #ul.open {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 50px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
}