.about {
  padding: 100px;
  background-image: linear-gradient(to left, var(--second-color-o), white);
}

.about img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.about .container {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about .text {
  font-size: 21px;
  color: #333;
  width: 50%;
}