.contact{
  padding: 100px 20px 50px;
  align-items: center;

}
.contact .content{
  text-align: center;
  padding: 15px;
  margin-top: 70px;
}
.contact .content .text{
  display: flex;
  flex-direction: column;
}
.contact .content .text h3{
  font-size: 20px;
  margin-bottom: 10px;
  color: #FFF;
}
.contact .content .text .contact-row{
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 5px;
}
.contact-row svg{
  color: var(--main-color);
}
.contact-row p{
  font-weight: 500;
}
.contact .paragraph{
  width: 50%;
  margin: 20px auto;
}
@media (max-width: 767px) {
  .contact .paragraph{
    width: 100%;
  }
}