.mission {
  background-image: linear-gradient(to left, var(--second-color-o), white, white);
  padding-bottom: 100px;
}

.mission .container {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
@media (max-width: 992px) {
  .mission .container {
    flex-direction: column;
    padding: 70px 20px;
  }
  .mission .image{
    padding: 30px;
  }
}
.mission .boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.mission .box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.mission .box .icon {
  color: var(--main-color);
}

.mission .box .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.mission .box .text h2{
  color: #333;
  margin-bottom: 5px;
}
.mission .box .text p{
  color: #444;
}
.mission .image{
  flex-basis: 300%;
}
@media (max-width: 1200px) {
  .mission .image{
    flex-basis: 500%;
  }
}
.mission img {
  max-width: 100%;
  object-fit: cover;
}